@using System.Web.Optimization
@using Abp.Web.Mvc.Extensions
@using YoYoCms.AbpProjectTemplate.Localization
@{
    SetAntiForgeryCookie();
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" dir=@(CultureHelper.IsRtl ? "rtl" : "")>
<!--<![endif]-->
<head>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,800,700,600|Montserrat:400,500,600,700|Raleway:100,300,600,700,800" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Poppins:400" rel="stylesheet" property="stylesheet" type="text/css" media="all">

    <title>YoYoCMS-模板网站门户首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    @* Fill these meta tags upon your project specification *@
    <meta content="YoYoCMS-模板网站门户首页" name="description">
    <meta content="YoYoCMS-模板网站门户首页" name="keywords">
    <meta content="YoYoCMS-模板网站门户首页" name="author">
    <link href="~/polo/css/plugins.css" rel="stylesheet" />
    <link href="~/polo/css/responsive.css" rel="stylesheet" />
    <link href="~/polo/css/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/favicon.ico">
    <link href="~/polo/js/plugins/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="~/polo/js/plugins/revolution/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/polo/js/plugins/revolution/css/settings.css" rel="stylesheet" />
    
    
    

    <link href="~/libs/sweetalert/sweet-alert.css" rel="stylesheet" />
    <link href="~/libs/toastr/toastr.min.css" rel="stylesheet" />
    @RenderSection("Styles", false)
    <!-- REVOLUTION LAYERS STYLES -->
    <style type="text/css">.blurslider-gradient{background:-webkit-linear-gradient(left,#9357cc 0%,#2989d8 50%,#2cc99d 100%);-webkit-background-clip:text;-webkit-text-fill-color:transparent}.blurslider-button{background:-webkit-linear-gradient(left,#9357cc 0%,#2989d8 50%,#2cc99d 100%)}</style>
	

    @Styles.Render("~/Bundles/Common/css")

 
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/polo/js/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/polo/js/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <link href="~/polo/js/plugins/revolution/revolution-addons/particles/css/revolution.addon.particles.css?ver=1.0.3" rel="stylesheet"/>
    <script type='text/javascript' src='~/polo/js/plugins/revolution/revolution-addons/particles/js/revolution.addon.particles.min.js?ver=1.0.3'></script>
    <script src="~/polo/js/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/polo/js/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/polo/js/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/polo/js/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/polo/js/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/polo/js/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/polo/js/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/polo/js/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/polo/js/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript">
        @* This is used to get the application's root path from javascript.
        It's useful if you're running application in a virtual directory under IIS. *@
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>

</head>
<body >
<div id="wrapper">
    @Html.Action("Header", "Layout", new {currentPageName = ViewBag.CurrentPageName})

             @RenderBody()
  
    @Html.Partial("~/Views/Layout/_Footer.cshtml")
</div>
<!-- Go to top button -->
<a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a>
<!--[if lt IE 9]>
    <script src="~/libs/respond/respond.min.js"></script>
<![endif]-->




<script src="~/libs/sweetalert/sweet-alert.min.js"></script>
<script src="~/libs/toastr/toastr.min.js"></script>
@Scripts.Render("~/Bundles/Frontend/libs/js")

<script type="text/javascript">
    abp.localization.defaultSourceName = '@LocalizationSourceName';
</script>

<!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
<script src="~/AbpScripts/GetScripts" type="text/javascript"></script>


@Scripts.Render("~/Bundles/Common/js")
<script src="~/polo/js/plugins.js"></script>

<script src="~/polo/js/functions.js"></script>
 

@RenderSection("Scripts", false)

</body>

</html>