   
@*
// 项目展示地址:"http://www.ddxc.org/"
 // 如果你有什么好的建议或者觉得可以加什么功能，请加QQ群：104390185 大家交流沟通
// 项目展示地址:"http://www.yoyocms.com/"
//博客地址：http://www.cnblogs.com/wer-ltm/
//代码生成器帮助文档：http://www.cnblogs.com/wer-ltm/p/5777190.html
// <Author-作者>角落的白板笔</Author-作者>
// Copyright © YoYoCms@中国.2017-07-03T17:43:44. All Rights Reserved.
//<生成时间>2017-07-03T17:43:44</生成时间>*@


 
 <div>
    <form name="smsMessagelogCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.smsMessagelog.id">编辑信息:{{vm.smsMessagelog.name}}</span>
                <span ng-if="!vm.smsMessagelog.id">新增信息</span>
            </h4>
        </div>
        <div class="modal-body">
            

																								     <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <textarea auto-focus class="form-control" ng-class="{'edited':vm.smsMessagelog.phoneNumber}" rows="4" ng-model="vm.smsMessagelog.phoneNumber"></textarea>
                 <label>发送电话</label>
            </div>
									     <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <textarea auto-focus class="form-control" ng-class="{'edited':vm.smsMessagelog.content}" rows="4" ng-model="vm.smsMessagelog.content"></textarea>
                 <label>发送内容</label>
            </div>
									     <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <textarea auto-focus class="form-control" ng-class="{'edited':vm.smsMessagelog.smsCode}" rows="4" ng-model="vm.smsMessagelog.smsCode"></textarea>
                 <label>短信代码(验证码)</label>
            </div>
									     
	 
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input type="text" id="InvalidTime" name="InvalidTime" class="form-control selectTime" ng-class="{'edited':vm.smsMessagelog.invalidTime}" ng-model="vm.smsMessagelog.invalidTime"        />
                <label for="InvalidTime">     @L("InvalidTime")</label>
            </div>
             

									 <div class="form-group form-md-line-input form-md-floating-label no-hint">
<div class="md-checkbox-list">
    <div class="md-checkbox">
                            <input id="EditSmsMessagelog_Sucess" class="md-check" type="checkbox" name="Sucess" ng-model="vm.smsMessagelog.sucess">
                            <label for="EditSmsMessagelog_Sucess" >
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("Sucess")
                            </label>
                        </div>
						</div>
						</div>
									     <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <textarea auto-focus class="form-control" ng-class="{'edited':vm.smsMessagelog.result}" rows="4" ng-model="vm.smsMessagelog.result"></textarea>
                 <label>短信提供商返回内容</label>
            </div>
									 <div class="form-group form-md-line-input form-md-floating-label no-hint">
<div class="md-checkbox-list">
    <div class="md-checkbox">
                            <input id="EditSmsMessagelog_IsChecked" class="md-check" type="checkbox" name="IsChecked" ng-model="vm.smsMessagelog.isChecked">
                            <label for="EditSmsMessagelog_IsChecked" >
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("IsChecked")
                            </label>
                        </div>
						</div>
						</div>
									 <div class="form-group form-md-line-input form-md-floating-label no-hint">
<div class="md-checkbox-list">
    <div class="md-checkbox">
                            <input id="EditSmsMessagelog_IsNotification" class="md-check" type="checkbox" name="IsNotification" ng-model="vm.smsMessagelog.isNotification">
                            <label for="EditSmsMessagelog_IsNotification" >
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("IsNotification")
                            </label>
                        </div>
						</div>
						</div>
					

           

        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="exampleForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>